# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
_ReSharper.SusaninPathFinding
SusaninPathFinding.sln.DotSettings.user

# mstest test results
TestResults
SusaninPathFinding.sln.DotSettings.user.BACKUP.7116.user
SusaninPathFinding.sln.DotSettings.user.BASE.7116.user
SusaninPathFinding.sln.DotSettings.user.LOCAL.7116.user
SusaninPathFinding.sln.DotSettings.user.REMOTE.7116.user
SusaninPathFinding.sln.DotSettings.user
SusaninPathFinding.sln.DotSettings.user
SusaninPathFinding.sln.DotSettings.user
SusaninPathFinding.sln.DotSettings.user
